body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}







/* styles.css that makes the buttons larger and yellow.

You are encouraged to do independent research how how to change the size and color

of HTML buttons using CSS. Get practice searching the internet for proper documentation on HTML/CSS! * */

.profileInfoButton {
	background-color: #ffe800;
	border: 2px solid black;
	border-radius: 25px;
 	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	height: 75px;
	width: 175px;
	padding: 1rem;
    margin-bottom: 1rem;
  	text-align: center;
  	display: inline-block;
  	font-size: 20px;
	font-weight: 900;
	vertical-align: middle;
	padding: 0.5em var(--padding-x);
}